<header>
  <div class="container">
    <div class="row top-bar">
<!--      <div class="col-12 col-md-10 order-md-2">-->
<!--        <div class="header-card">-->
<!--          <span class="corner-border-top"></span>-->
<!--          <h3 class="headline3">Echo paradise</h3>-->
<!--          <span class="corner-border-bottom"></span>-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-6 col-md-1 order-md-1">
        <div class="header-card">
          <span class="corner-border-top"></span>
          <a href="/"><img src="assets/media/logo.png" alt="Logo" class="img-fluid logo"></a>
          <span class="corner-border-bottom"></span>
        </div>
      </div>
      <div *ngIf="!this.authService.isLoggedIn" class="col-6 col-md-2 order-md-1">
        <div class="header-card">
          <span class="corner-border-top"></span>
          <a routerLinkActive="active" class="btn btn-link text-highlight" routerLink="/sign-in">Sign in</a>
          <span class="corner-border-bottom"></span>
        </div>
      </div>
      <div *ngIf="!this.authService.isLoggedIn" class="col-6 col-md-2 order-md-1">
        <div class="header-card">
          <span class="corner-border-top"></span>
          <a routerLinkActive="active" class="btn btn-link text-highlight" routerLink="/sign-up">Sign up</a>
          <span class="corner-border-bottom"></span>
        </div>
      </div>
      <div *ngIf="this.authService.isLoggedIn" class="col-6 col-md-2 order-md-1">
        <div class="header-card">
          <span class="corner-border-top"></span>
          <button (click)="logout()"  class="btn btn-highlight" type="button">Logout</button>
          <span class="corner-border-bottom"></span>
        </div>
      </div>
      <div class="col-6 col-md-1 order-md-3">
        <div class="header-card">
          <span class="corner-border-top"></span>
          <button class="main-menu-toggle collapsed" type="button" data-toggle="collapse" href="#main-menu">
<!--            <svg class="svg-inline&#45;&#45;fa fa-bars fa-w-14" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>-->
             <i class="fa fa-bars"></i>
          </button>
          <span class="corner-border-bottom"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="main-menu" class="collapse megamenu">
    <div class="container">
      <div class="menu-card">
        <div class="row">
          <div class="col-6 col-md">
<!--            <a *ngIf="this.authService.isLoggedIn" routerLink="/profile/:nickname">User Profile</a>-->
            <a *ngIf="!this.authService.isLoggedIn" routerLinkActive="active" routerLink="/sign-in">Sign in</a>
            <a *ngIf="!this.authService.isLoggedIn" routerLink="/sign-up">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
