  <div class="row" *ngIf="this.currentUser">
    <p class="col-12 headline2">User Profile</p>
    <p class="col-12"><strong>Nickname:</strong> {{this.currentUser.nickname}}</p>
    <p class="col-12"><strong>Email:</strong> {{this.currentUser.email}}</p>
    <p class="col-12"><strong>contactLink:</strong> {{this.currentUser.contactLink}}</p>
    <p class="col-12"><strong>its_pin:</strong> {{this.currentUser.itsPIN}}</p>
    <p class="col-12" *ngIf="this.currentUser.faction"><strong>faction:</strong> {{this.currentUser.faction.name}}</p>
<!--      <p *ngIf="this.currentUser.rank"><strong>rank:</strong> {{this.currentUser.rank.name}}</p>-->
  </div>
