<button id="back-to-top" class="btn btn-highlight" role="button">
    <span class="fa fa-chevron-up"></span>
</button>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-2 order-md-2">
                <div class="dropdown dropdown-small">
                    <button class="btn btn-highlight dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="fa fa-fw fa-flag"></i> DE
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-flag"></i> DE</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-fw fa-flag"></i> EN</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-2 order-md-3 text-right">
                <a type="button" data-toggle="modal" data-target="#imprintModal">
                    Imprint
                </a>
                <div id="imprintModal" class="modal modal-primary fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                            <div class="modal-header main">
                                <p class="modal-title headline-alert">Imprint</p>
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-header">
                                <p class="modal-title">Live Webagentur</p>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Sara Geller<br />
                                    6800 Feldkirch<br />
                                    Austria
                                </p>
                                <p>
                                    Email: info@live-webagentur.eu<br />
                                    Phone: +43 677 61 3344 87<br />
                                    Website: www.live-webagentur.eu
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 order-md-1">
                &copy; Live Webagentur &ndash; All rights reserved.
            </div>
        </div>
    </div>
</footer>
